.pragmatic_header{
    text-align: center; margin:2rem 0;
}

.pragmatic_footer{
    text-align: center; margin-top:2rem
}

.pragmatic_logo{
    font-family: 'Playfair Display', serif;
}

.pragmatic_footer_btn{
    font-size: 0.6rem;
}